.vscode/
cx_asap/CX_ASAP.egg-info/
*__pycache__
cx_asap/system_files/backup_yamls
cx_asap/system_files/simple_for_users
cx_asap/error_logs/error_output.txt
cx_asap/error_logs/error_output_1.txt
cx_asap/error_logs/error_output_2.txt
cx_asap/error_logs/error_output_3.txt
cx_asap/error_logs/error_output_4.txt
cx_asap/error_logs/error_output_5.txt
cx_asap/conf.yaml 
cx_asap/system_files/sys.yaml
cx_asap/system_files/test.yaml
cx_asap/system_files/test_yaml.py
cx_asap/system_files/backup_test_data/
.pytest_cache/
cx_asap/documentation/
cxasap_venv/
